<mat-card>
    <mat-card-header *ngIf="curso">

        <mat-card-title>
            Alumnos del curso {{curso.nombre}}
        </mat-card-title>

    </mat-card-header>

    <mat-card-content>

        <mat-form-field class="mx-3">

            <!-- <input matInput placeholder="Buscar Alumnos" 
            (keyup)="filtrar($event.target.value)"
            style="width: 75%;"> No es necesario hoy el width -->

            <input matInput placeholder="Buscar Alumnos" 
            (keyup)="filtrar($event.target.value)">

        </mat-form-field>

        <!-- <table mat-table [dataSource]="alumnosAsignar" class="mat-elevation-z8"
        style="width: 75%;"> No es necesario hoy el width -->

        <table mat-table [dataSource]="alumnosAsignar" class="mat-elevation-z8">

            <ng-container matColumnDef="seleccion">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event? seleccionarDesSeleccionarTodos(): null"
                        [checked]="seleccion.hasValue() && estanTodosSeleccionados()"
                        [indeterminate]="seleccion.hasValue() && !estanTodosSeleccionados()">

                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let alumno">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event? seleccion.toggle(alumno): null"
                        [checked]="seleccion.isSelected(alumno)">

                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let alumno"> {{alumno.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let alumno"> {{alumno.apellido}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="mostrarColumnas"></tr>
            <tr mat-row *matRowDef="let row; columns: mostrarColumnas;" (click)="seleccion.toggle(alumno)"></tr>
        </table>
        <button mat-raised-button color="primary" class="m-4" (click)="asignar()" [disabled]="!seleccion.hasValue()">Asignar</button>

    </mat-card-content>
</mat-card>